

html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}
#mainContents{
   position: relative;
}

#vidContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

#otherContents{
    position: relative;
}


#videoBG {
    position:fixed;
    z-index: -1;
    opacity: 0.9;
    display: block;
}

#secondTexts{

}

#frontTexts{
    background: rgba(255,255,255,0.3);
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: -30%;
    transform: translate(-20%, 30%);

    z-index: 3
    width: 100%;
    height: auto;

    padding: 20px;
    margin: 20px;    
}

#frontTextsMobile{
    display: none;
}

#frontTexts > h1 {
 
}
#frontTexts > p {

}

#textdiv{
   width: 500px;
   height: auto;  
   position: relative;
}

spacer{
   height: 0;
   padding-bottom: 125%;
}


@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG { 
        display: none;
    }
    #vidContainer{


        background: url('../images/poster_duck.png');
        background-size: contain;

        min-height: 100%;
        min-width: 100%;

        width: 100%;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;

        background-repeat: no-repeat;
        overflow: hidden;

/*        right: 50%;
        margin-right: -512px;*/
    }
    
    #textDiv{
        position: relative;
        display: inline-block;
    }

    #vidContainer{
        display: inline-block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        overflow-x: hidden;
    overflow-y: auto;
    }

    #frontTexts{
        display: none;
    }

    #frontTextsMobile{
        display: inline-block;
        justify-content: center;
        align-items: center;
        background: rgba(255,255,255,0.3);
        overflow: hidden;
        position: absolute;
 /*       top: calc(50% - 50px);
        left: calc(50% - 50px);*/

            left: 20%;
    top: -30%;
    transform: translate(-20%, 30%);

        min-height: 100%;
        min-width: 100px;

/*        left: 40%;
        top: 20px;*/
       /* transform: translate(-40%, 20%);*/
        

        width: 150px;
        height: auto;

        padding: 10px;
        margin: 10px; 

        text-align: left;
    }

    #frontTextsMobile > h1 {
        font-size: 12px;
    }
    #frontTextsMobile > p {
        font-size: 8px;
    }

}

