---
---

@import "{{ site.theme }}";
.site-footer {
	text-align: center;
}
.project-name > div {
	line-height: 90%;
}
.bigFontSizeTitle {
	font-size: 2.2rem;
}
.middleFontSiezTitle {
	font-size: 1.5rem;
}