---
---

@import "{{ site.theme }}";
.site-footer {
	text-align: center;
}
.project-name > div {
	line-height: 110%;
}
.bigFontSizeTitle {
	font-size: 2.2rem;
}
.middleFontSiezTitle {
	font-size: 1.5rem;
}
h1 {
	text-align: center;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {

    text-decoration: none;
}
a, a:hover, a:visited {
    text-decoration: none;
}