---
---

@import "{{ site.theme }}";
.site-footer {
	text-align: center;
}
.project-name > div {
	line-height: 70%;
}
.bigFontSizeTitle {
	font-size: 2rem;
}
.middleFontSiezTitle {
	font-size: 1.7rem;
}