
* {
	box-sizing: border-box;
}

html {

	font-family: Arial, Helvetica, sans-serif;
}

/**** Nav Bar Styling ****/


.navbar-dark .navbar-toggler span.navbar-toggler-icon:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(70,107,141, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-dark .navbar-toggler:hover{
		border: 1px solid transparent;
	    border-color: rgba(70,107,141, 1);
}
.navbar-dark .navbar-toggler:focus, .navbar-dark .navbar-togger:active, .navbar-dark .navbar-toggler:after{
	    color: rgba(70,107,141, .1);
	    outline: none solid transparent;
	    outline-color: rgba(70,107,141, 1);
		border: none solid transparent;
	    border-color: rgba(70,107,141, 1);
}
/**** Nav Bar Styling ****/


h1 {
    margin-top: 50px;
	font-size: 1.75em;
}

#main-content {
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	max-width: none;
}

section {
	background-color: #9FCB3C;
	border: 1px solid black;
	position: relative;
}

.menuName {

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;

	padding-left: 20px; 
	padding-right: 20px;
	padding-top:10px; 
	padding-bottom: 10px;

	font-size: 1.25em;
	font-style: italic;
	font-weight: medium;
}

.topLink {
	border: 0.5px solid #000;
	text-align: center;
	position: relative;
	bottom: -1px;
	left: -11px;
	background-color: #466B8D;
	font-weight: 100;
}

a:-webkit-any-link {
	text-decoration: none;
	color: #8BB1D3;
	font-size: 14px;
	font-weight: 100;
}

#rice {
    background-color: #DFEE2A;
}

#noodle {
    background-color: #FFC78C;
}

#soup {
    background-color: #A8F3F0;
}

.menuDetails {
    padding: 20px;
}


/**************** Simple Responsive Framework. ********************/
.col {
	width: 100%;
	max-width: none;
}

/**************** X-Large Devices Only ********************/
@media (min-width: 1200px) {

}	

/**************** Large Devices Only ********************/
@media (min-width: 992px) {

}

/**************** Medium Devices Only ********************/
@media (min-width: 768px) and (max-width: 991px) {

}

/**************** Small Devices Only ********************/
@media (max-width: 767px) {

}

/**************** X-Small Devices Only ********************/
@media (max-width: 575px){

}	



